html {
  background: url("../img/woodbackgroundsmall.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 960px;
}
* {
  color: #c5c6c7;
  font-family: 'Spectral SC', serif; 
  text-align: center;
}
body {
  width: 75%;
  margin: auto;
}
div {
  margin: auto;
  height: 100px;
  width: 150px;
}
ul {
  display: inline;
}
/* 
.high-light {
font-size: 3.5em;
}
ul {
  list-style-type: none;  
  margin: 15px;
  padding: 10px;
  width: 33%;
  height: 100%; /* Full height 
  position: fixed; /* Make it stick, even on scroll 
  overflow: auto; /* Enable scrolling if the sidenav has too much content 
}
  */
/*
li a{
  display: block;
  width: 75px;
  font-size: 3vw;
}
h1 {
  color: #c5c6c7;  
} */